@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
body {
	background: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', Arial, sans-serif;
}
header{
  background: black;
  height: 70px;
  padding-top: 20px;
}
.nav_container{
    background: black;
  }
  .ul__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700;
      list-style: none;
  }
  
  .ul__nav * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
  }
  
  .ul__nav a {
      position: relative;
      color: rgba(205, 207, 205, 0.5);
      padding: 0.5rem 0.8rem;
      text-decoration: none;
  }
  
  .ul__nav a:before,
  .ul__nav a:after {
      position: absolute;
      height: 15px;
      width: 15px;
      content: '';
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
      opacity: 0;
  }
  
  .ul__nav a:before {
    right: 0;
      top: 0;
      border-right: 3px solid #d11807;
      border-top: 3px solid #d11807;
      -webkit-transform: translate(-100%, 50%);
      transform: translate(-100%, 50%);
  }
  
  .ul__nav a:after {
      left: 0;
      bottom: 0;
      border-left: 3px solid #d11807;
      border-bottom: 3px solid #d11807;
      -webkit-transform: translate(100%, -50%);
      transform: translate(100%, -50%);
  }
  
  .ul__nav a:hover,
  .ul__nav .home a {
    color: #ffffff;
  }
  
  .ul__nav a:hover:before,
  .ul__nav .home a:before,
  .ul__nav a:hover:after,
  .ul__nav .home a:after {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
  }
  .logo {
    position: relative;
    width: 40px;
    height: 40px;
    background-image: radial-gradient(circle 30px, #fff 100%, transparent 0),
      radial-gradient(circle 5px, #fff 100%, transparent 0),
      radial-gradient(circle 5px, #fff 100%, transparent 0),
      linear-gradient(#FFF 20px, transparent 0);
    background-position: center 127px , 94px 102px , 16px 18px, center 114px;
    background-size: 60px 60px, 10px 10px , 10px 10px , 4px 14px;
    background-repeat: no-repeat;
    z-index: 10;
    perspective: 500px;
  }
  
  .logo::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%) rotate(-45deg);
    border-right-color: transparent;
    box-sizing: border-box;
    margin-left: 50px;
    margin-top: 15px;
  }
  
  .logo::after {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    transform: translate(-50%, -55%) rotate(-45deg) rotateY(0deg);
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    border: 3px solid #FF3D00;
    border-radius: 50%;
    animation: rotate_4191 0.5s linear infinite;
    margin-left: 50px;
    margin-top: 15px;
  }
  
  @keyframes rotate_4191 {
    to {
      transform: translate(-50%, -55%) rotate(-45deg) rotateY(360deg)
    }
  }