*{
    text-decoration: none;
    list-style-type:none;
    color: white;
}

.footer-avec-img {
    background-image: url(https://t4.ftcdn.net/jpg/03/64/00/11/360_F_364001108_0hbE745nHjZb9ETgTXGqVHaGvlteAlg0.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
  }

  .conteneur {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  .conteneur ul {
    display: inline-block;
    text-align: center;
    margin-top: 80px;
  }