.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d11807;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
  }
  /* input */
  .search-input {
    outline: none;
    border: none;
    background: none;
    width: 0;
    padding: 0;
    color: #fff;
    float: left;
    font-size: 16px;
    transition: .3s;
    line-height: 40px;
  }
  .search-input::placeholder {
    color: #dbc5b0;
  }
  .form img{
    width: 1300px;
    height: 800px;
    margin-top: 20px;
  }
  .form{
    background: url(https://rare-gallery.com/uploads/posts/300853-Black-Widow-2020-Movie-Poster-4K.jpg);
    background-size: 1400px;
  }
  section span{
    margin-bottom: 300px;
  }
  .search{
    width: 600px;
    margin-left: 450px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-color: #d11807;
    border-width: 5px;
    margin-top: 300px;
  }
  /* icon */
  .search-btn {
    color: #fff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #d11807;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .3s;
  }
  .search-input:focus,
  .search-input:not(:placeholder-shown) {
    width: 240px;
    padding: 0 6px;
  }
  .search-box:hover > .search-input {
    width: 240px;
    padding: 0 6px;
  }
  .search-box:hover > .search-btn,
  .search-input:focus + .search-btn,
  .search-input:not(:placeholder-shown) + .search-btn {
    background: #fff;
    color: #d11807;
  }
  .form{
    padding-bottom: 400px;
  }
  section{
    background: black;
  }
  :root {
    --bg-color: hsl(0, 0%, 0%);
    --typewriterSpeed: 3s;
    --typewriterCharacters: 24;
  }
  
  h1 {
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: max-content;
  }
  
  h1::before,
  h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  h1::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
  h1::after {
    background: black;
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
  p {
    color: hsl(0 0% 0% / 0.7);
    font-size: 1rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  }
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  * {
    box-sizing: border-box;
  }
  
  